/*Reset styles*/
*{
padding: 0;
margin: 0;
border: 0;
}
 *,*:before,*:after{
-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

$font-family: 'Open Sans', sans-serif;
$header-color: #FFFFFF;
$general-text-color: #48555B;

@mixin h2_line {
    display: block;
    width: 50px;
    content: '';
    border-bottom: 2px solid #00A4E5;
}

@mixin general_text {
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    color: $general-text-color;
}

@mixin button {
    width: 150px;
    height: 40px;
    padding: 11px 29px;
    background: #00A4E5;
    transition: 0.2s ease;
}

body{
    font-family: $font-family;
    background: #FFFFFF;
}

h2{
    position: relative;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    color: #48555B;
    padding-bottom: 10px;
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
}

.container{
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}

.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    img{
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

/*Styles for main screen*/

.header {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    &__column {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    &__logo {
        img{
        width: 100px;
        }
    }

    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 5px;
        color: $header-color;
    }

    &__text {
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $header-color;
    }

    &__scroll-down {
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 3.7px;
        color: $header-color;
    }
}


.main-screen {
    flex: 1 0 100%;
    position: relative;
		&__bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
		}
}

/*Styles for navigation*/

.navigation_wrapper{
    border-bottom: 1px solid #c2c2c2;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    &__logo-pic {
        width: 80px;
    }
    &__burger {
        display: none;
        width: 40px;
        height: 28px;
        position: relative;
    }
}

.burger {

    &__line {
        display: block;
        width: 100%;
        height: 2px;
        background: #000000;
        position: absolute;
        left: 0;
        &_first{
            top: 0;
        }
        &_second{
            top: 50%;
            transform: translateY(-50%);
        }
        &_third{
            bottom: 0;
        }
    }
}

.menu {

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__list li{
        margin-right: 48px;
    }

    &__list li:last-child{
        margin-right: 0;
    }

    &__link {
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 1px;
        color: #48555B;   
    }

    &__link:hover, &__link:focus, &__link:active {
        color: #00A4E5;
        font-weight:bold;
    }

    &__link::after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

}

/*Styles for section about*/

.about {
    padding: 50px 0 25px 0;
    &__title {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    &__title::after{
        @include h2_line();
        margin: 0 auto;
    }
    &_content {
        display: flex;
        
        justify-content: space-between;
        padding: 50px 0;
        .text{
            color: #48555B;
            &__main{
                font-weight: bold;
                font-size: 20px;
                line-height: 27px; 
                span{
                    color:#00A4E5;
                } 
            }
            &__add{
                @include general_text();
            }
        }
    }
}

.content__text{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.content__img{
   text-align: end;
}

.img {
    display: flex;
    justify-content: flex-end;
    &__container {
        position: relative;
        max-width: 140px;
        max-height: 224;
        margin-left: 15px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .img__text{
            position: absolute;
            left: 15px;
            top: 15px;
            text-align: left;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.2px;
            color: #FFFFFF;
        }
    }
    &__container:first-child{
        margin-left: 0px;
   }
}

/*Styles for section services*/

.services {
    padding: 25px 0 50px 0;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title::after{
        @include h2_line();
    }
    &__add{
        display: flex;
        .text{
            &__add{
                margin-right: 30px;
            }
        }
    }
}

.text {
    
    &__add {
        max-width: 400px;
        @include general_text();
        font-size: 11px;
    }
}
.btn {
    display: block;
    @include button();
    a{
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        color: #FFFFFF;
    }
}

.btn:hover, .btn:focus, .btn:active{
    opacity: 0.7;
}

.services {
    &__cards {
        margin-top: 78px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    &__card {
        width: 295px;
        background: #FFFFFF;
        padding: 23px;
        border: 1px solid #E6E6E6;
    }
}
.card {
    &__title h3{
        margin: 25px 0 13px 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #48555B;
    }

    &__text {
        @include general_text();
    }
}

/*Styles for section Work*/

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 398px;
    background: url(../img/bg-min.jpg) no-repeat center;
    &__wrapper {
       max-width: 350px;
       
       text-align: center;
    }

    &__title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 35px;
    }
    .btn {
        margin: 0 auto;
    }
}

/*Styles for Contact*/

.contact {
    padding: 11px 29px; 
    background: #171819;
    &__form {
        padding: 30px 0;
    }
}
.form{
    form{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__label {
        font-weight: bold;
        font-size: 22px;
        color: #FFFFFF;
        margin-right: 70px;
    }

    &__wrapper{
        display: flex;
        align-items: center;
        
    }

    &__email{
        max-width: 259px;
        height: 40px;
        padding: 11px 16px;
        font-size: 14px;
        line-height: 19px;
        color: #222324;
    }

    &__submit {
        @include button();
        font-weight: bold;
        font-size: 13px;
        color: #FFFFFF;
    }
    &__submit:hover{
        color: #171819;;
    }
}

/*Styles for footer*/

.footer {
    padding: 42px 0;
    background: #141A20;
    font-size: 11px;
    font-weight: normal;
    line-height: 19px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__info {
        max-width: 250px;
        .footer__logo{
            margin-bottom: 15px;
            img{
                max-width: 100px;
            }
        }
    }

    &__body{
        display: flex;
    }

    &__title{
        margin-bottom: 15px;
    }

    &__nav {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }

    &__menu {
        margin-right: 36px;
    }
    &__menu:last-child {
        margin-right: 0;
    }

    &__menu-link {
        font-weight: 600;
        color: #FFFFFF;
        line-height: 25px;
    }

    &__menu-link:hover{
        color: #00A4E5;
    }

    &__contacts {
        max-width: 115px;
        .footer__contacts-info{
            margin-bottom: 16px;
        }
        .footer__contacts-info:last-child{
            margin-bottom: 0;
        }
    }

    &__media {
        display: flex;
        align-items: center;
        a{
            margin-right: 24px;
            img{
            min-width: 20px
            }
        }
        a:last-child{
            margin-right: 0;
        }
    }
}

/*Media*/

@media screen and (max-width:952px) {
    .about_content{
        flex-direction: column;
        align-items: center;
        .content__text{
            text-align: center;
            margin-bottom: 50px;
        }
        .content__img{
            justify-content: center;
        }
    }

    .services{
        &__header{
            flex-direction: column;
            align-items: center;
        }
        &__add{
            align-items: flex-end;
        }
    }

    .text__add{
        margin-top: 30px;
        }

    .footer__wrapper{
        align-items: center;
        flex-direction: column;
        .footer__info{
            text-align: center;
            margin-bottom: 25px;
        }
        .footer__body{
            margin-bottom: 25px;
        }
    }
}

@media screen and (max-width:767px) {
    .nav{
        &__burger{
        display: block;
        }
        &__menu{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #FFFFFF;
            z-index: 99;
            padding: 75px;
            transform: translateX(100%);
            transition: .2s all linear;
            &_active{
                transform: translateX(0);
            }
        }
        &__menu-close{
            width: 48px;
            height: 48px;
            position: absolute;
            top: 40px;
            right: 40px;
            z-index: 11;
            &_line{
                display: block;
                width: 100%;
                height: 2px;
                background: #000000;
                position: absolute;
                top: 50%;
            }
            &_line:first-child{
                transform: translateY(-50%) rotate(45deg);
            }
            &_line:last-child{
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }

    .menu__list{
        flex-direction: column;
        li{
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
            .menu__link{
                font-size: 42px;
                line-height: 48px;
            }
        }
        li:last-child{
            margin-bottom: 0px;
        }
    }

    .services__add{
        flex-direction: column;
        align-items: center;
        .text__add{
            margin-right: 0;
            text-align: center;
        }
    }
    .btn{
        margin-top: 30px;
    }

    .form {
        form{
            flex-direction: column;
            margin: 0 auto;
        }
        &__label {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

}

@media screen and (max-width:480px){
    .header__title{
        font-size: 42px;
        line-height: 44px;
        letter-spacing: 2px;
    }
    .img{
        .img__text{
        font-size: 16px;
        }
    }

    .form {
        &__wrapper{
            flex-direction: column;
        }
        &__submit{
            margin-top: 10px;
            width: 100%;
        }     
    }

    .footer__body{
        flex-direction: column;
        align-items: center;
        .footer__nav{
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

}






